    <footer id="footer">
      <div class="container">
        <ul class="soc-media-ul">
          <li>
            <a href="https://twiter.com/EpicWGoods" class="fa fa-twitter" target="https://twiter.com/EpicWGoods"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-facebook" target="_blank"></a>
          </li>
  
          <li>
            <a href="https://instagram.com/epicwinsg" class="fa fa-instagram" target="_blank"></a>
          </li>
  
          
  
          <li>
            <a href="" class="fa fa-envelope"></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>