
transition {
  transition: all .25s;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;

}

.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.main-heading {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-about a {
  text-decoration: underline;
}

h2 {
  font-weight: 300;
  text-align: center;
}

.sec-testimonials p {
  font-style: italic;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}


section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
}

form {
  @media screen and (max-width: 768px) and (min-width: 485px) {
    max-width: 70%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


hr {
  margin-bottom: 3em;
  width: 7%;
}


.sec-folio .row {
  margin-bottom: 3em;
}

.sec-folio img {
  max-width: 100%;
}

.navbar-default {
  background: #fff;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #ad0000;
}

.navbar-default .navbar-nav>li>a:active {
  color: darken(#ad0000, 5%);
}

.sec-main {
  position: relative;
  height: 560px;
  background: url(https://storage.needpix.com/rsynced_images/sports-650364_1280.jpg) no-repeat center center;
  background-size: cover;

}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
}


.sec-about a {
  color: #000;

}


.sec-services i {
  display: block;
  margin: auto;
  width: 45px;
}

.sec-services .fa-paint-brush {
  width: 64px;
}

.sec-services .fa-code {
  width: 68px
}

.sec-services h2 {
  margin: 1em 0;
}

.sec-testimonials {
  background: #f9f9f9;
}


.sec-contact .form-control:focus {
  border-color: #ad0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}

.sec-contact .btn {
  padding: .5rem 1.75rem;
  background: #000;
  font-size: .95rem;
  color: #fff;
  
}

footer {
  background: rgb(0, 0, 0);
}

.soc-media-ul {
 display: flex;
 justify-content: center;
}
.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}
.soc-media-ul a {
  display: block;
  padding: 0.5em 0.65rem;
  font-size: 1rem;
  color: #fff;
  border: 2px solid;
}
.soc-media-ul a:hover, .soc-media-ul a:focus {
  color: #4073ff;
}
.sec-services .row {
 margin-bottom: 3em;
}
.sec-services img {
  max-width: 100%;
}
.sec-contact .row {
  margin-bottom: 3em;
}
.sec-contact img {
  max-width: 100%;
}
.sec-testimonials .row {
  margin-bottom: 3em;
}
.sec-testimonials img {
  max-width: 100%;
}
.sec-about .row {
  margin-bottom: 3em;
}
.sec-about img {
  max-width: 100%;
}

