<!DOCTYPE html>

<style>

</style>


<html>
<head>
  <link rel='stylesheet' href='/stylesheets/products.css'/>
</head>

<body>

  <div class="wrapper">
{{>navbar}}
  
    <section id="home" class="sec-main">
      <h1 class="main-heading">Welcome to Epic Sporting Goods</h1>
    </section>
   
   <section id="about" class="sec-about">
      <div class="container">

     <h1>
              Clothes
            </h1>
        <hr />
  
   <div class="row">
          <div class="col-md-4">
            <img class="center-block" src="https://image.sportsmansguide.com/adimgs/l/6/672564m2_ts.jpg"/>
            <h2>Thick Hunting Jacket</h2>
          </div>
  
          <div class="col-md-4">
            <img class="center-block" src="https://ae01.alicdn.com/kf/HTB1WxMHKpXXXXXAXVXXq6xXFXXXj/Harajuku-Sportwear-hombres-3d-baloncesto-Jordan-23-impresi-n-sudaderas-hoodies-de-exterior-sudaderas-hombre-2015.jpg" />
            <h2>Michael Jordan Last Shot Long Sleeve Shirt</h2>
          </div>
  
          <div class="col-md-4">
            <img class="center-block" src="https://www.sportsmans.com/medias/killik-gear-mens-nexus-water-resistant-hunting-jacket-p32156-1.jpg?context=bWFzdGVyfGltYWdlc3wxNzUwNzh8aW1hZ2UvanBlZ3xpbWFnZXMvaDRkL2gyOS84OTYxNjMxNDUzMjE0LmpwZ3wwYmFjNDAzOWIyMjgyOTE4MGJjYTk5OWJhMjcwZjRhZGJhZTc3YjI0ODhmZTBkYWJlZjhhNzY2MTZjMjg3NDFk"/>
            <h2>Thin Hunting Jacket</h2>
          </div>
        </div>
          </div>
        </div>
      </div>
    </section>
  
    
    <footer id="footer">
      <div class="container">
        <ul class="soc-media-ul">
          <li>
            <a href="" class="fa fa-twitter" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-google-plus" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-linkedin" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-behance" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-envelope"></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>


</body>
</html>
