<!DOCTYPE html>

<style>

</style>


<html>
<head>
  <link rel='stylesheet' href='/stylesheets/products.css'/>
</head>

<body>

  <div class="wrapper">
{{>navbar}}
  
    <section id="home" class="sec-main">
      <h1 class="main-heading">Welcome to Epic Sporting Goods</h1>
    </section>

    <section id="about" class="sec-about">
      <div class="container">
    
        <h1>Jerseys</h1>
  
        <hr />
  
        <div class="row">
          <div class="col-md-4">
            <img class="center-block" src="https://images.footballfanatics.com/FFImage/thumb.aspx?i=/productimages/_3212000/ff_3212792_full.jpg&w=600"/>
          </div>
  
          <div class="col-md-4">
            <img class="center-block" src="https://fanatics.frgimages.com/FFImage/thumb.aspx?i=/productimages/_2079000/altimages/FF_2079386ALT1_full.jpg&w=600"/>
          </div>
  
          <div class="col-md-4">
            <img class="center-block" src="https://fanatics.frgimages.com/FFImage/thumb.aspx?i=/productimages/_3538000/ff_3538809-dd41a6fba6ef6d175f31_full.jpg&w=340" />
          </div>
        </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  
    <footer id="footer">
      <div class="container">
        <ul class="soc-media-ul">
          <li>
            <a href="" class="fa fa-twitter" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-google-plus" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-linkedin" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-behance" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-envelope"></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>


</body>
</html>
