<!DOCTYPE html>

<style>

</style>


<html>
<head>
  <link rel='stylesheet' href='/stylesheets/products.css'/>
</head>

<body>

  <div class="wrapper">
{{>navbar}}
  
    <section id="home" class="sec-main">
      <h1 class="main-heading">Welcome to Epic Sporting Goods</h1>
    </section>

    <section id="about" class="sec-about">
      <div class="container">
<<<<<<< HEAD
        <h1>Shoes</h1>
  
        <hr />
   <div class="row">
          <div class="col-md-4">
            <img class="center-block" src="https://www.sportsmans.com/medias/remington-model-700-adl-bolt-action-rifle-package-1249978-1.jpg?context=bWFzdGVyfGltYWdlc3w4MDA5MnxpbWFnZS9qcGVnfGltYWdlcy9oYjAvaDNhLzg5MTMzMTUzNjQ4OTQuanBnfDQxMjBkY2Q0MzcwYTc0NTA3MGZlYmVmMGJjYzkzNWNhMmQxMTBkMDZiY2FlZTg2ZWMxYjM3NzJjYTQ0OWE0ODE"/>
            <h2> Hunting Rifle</h2>
          </div>
  
          <div class="col-md-4">
            <img class="center-block" src="https://cdn2.bigcommerce.com/n-arxsrf/re90tm8/products/90/images/1661/Titanium-Ankle-Brace-Foot__96649.1488435009.1024.1024.jpg?c=2" />
            <h2>Ankle Brace</h2>
          </div>
  
          <div class="col-md-4">
            <img class="center-block" src="https://scheels.scene7.com/is/image/Scheels/88779106650?wid=600&hei=600&qlt=75"/>
            <h2>NBA Shooting Sleeve</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <p></p>
          </div>
           
        </div>
      </div>
    </section>
    <section id="services" class="sec-services">
      <div class="container">
       
     <h1>
              Clothes
            </h1>
        <hr />
  
   <div class="row">
          <div class="col-md-4">
            <img class="center-block" src="https://image.sportsmansguide.com/adimgs/l/6/672564m2_ts.jpg"/>
            <h2>Thick Hunting Jacket</h2>
          </div>
  
          <div class="col-md-4">
            <img class="center-block" src="https://ae01.alicdn.com/kf/HTB1WxMHKpXXXXXAXVXXq6xXFXXXj/Harajuku-Sportwear-hombres-3d-baloncesto-Jordan-23-impresi-n-sudaderas-hoodies-de-exterior-sudaderas-hombre-2015.jpg" />
            <h2>Michael Jordan Last Shot Long Sleeve Shirt</h2>
          </div>
  
          <div class="col-md-4">
            <img class="center-block" src="https://www.sportsmans.com/medias/killik-gear-mens-nexus-water-resistant-hunting-jacket-p32156-1.jpg?context=bWFzdGVyfGltYWdlc3wxNzUwNzh8aW1hZ2UvanBlZ3xpbWFnZXMvaDRkL2gyOS84OTYxNjMxNDUzMjE0LmpwZ3wwYmFjNDAzOWIyMjgyOTE4MGJjYTk5OWJhMjcwZjRhZGJhZTc3YjI0ODhmZTBkYWJlZjhhNzY2MTZjMjg3NDFk"/>
            <h2>Thin Hunting Jacket</h2>
          </div>
        </div>
          </div>
        </div>
      </div>
    </section>
  
    <section id="folio" class="sec-folio">
      <div class="container">
=======

>>>>>>> 28fd7995ef7b2496747d0fbf3cba93c3a49a3609
        <h1>Shoes</h1>
  
        <hr />
  
        <div class="row">
          <div class="col-md-4">
            <img class="center-block" src="https://live.staticflickr.com/5186/5612708392_7a5c300ed3.jpg"/>
            <h2>Air Jordan 6 "Infrared"</h2>
          </div>
  
          <div class="col-md-4">
            <img class="center-block" src="https://images.cabelas.com/is/image/cabelas/s7_828029_renderset_01?wid=300&hei=230&op_sharpen=1"/>
           
            <h2>Under Armor Hunting Boots</h2>
          </div>
  
          <div class="col-md-4">
            <img class="center-block" src="http://www.usnewmall.com/image/cache/data/Adidas/Nemeziz-17/10-NEMEZIZ-17+360-AGILITY-FIRM-GROUND-CLEATS-MEN-SOCCER-750x500.jpg"/>
            <h2>Nemeziz 17-360 Agility</h2>
          </div>
        </div>
        </section>
       
  
   
    <footer id="footer">
      <div class="container">
        <ul class="soc-media-ul">
          <li>
            <a href="" class="fa fa-twitter" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-google-plus" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-linkedin" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-behance" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-envelope"></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>


</body>
</html>
