<!DOCTYPE html>

<style>

</style>


<html>
<head>
  <link rel='stylesheet' href='/stylesheets/mainpage.css'/>
</head>

<body>

  <div class="wrapper">
{{>navbar}}
  
    <section id="home" class="sec-main">
      <h1 class="main-heading">Welcome to Epic Sporting Goods</h1>
    </section>

    <section id="about" class="sec-about">
      <div class="container">
      
  
     
   <div class="row">
          <div class="col-md-4">
            <h2>Gear</h2>
            <img class="center-block" src="https://scheels.scene7.com/is/image/Scheels/88779106650?wid=600&hei=600&qlt=75"/>
            <button class="btn"><a href="/shop/gear">Gear</a></button>
       </div>

          <div class="col-md-4">
            <h2>Clothes</h2>
            <img class="center-block" src="https://ae01.alicdn.com/kf/HTB1WxMHKpXXXXXAXVXXq6xXFXXXj/Harajuku-Sportwear-hombres-3d-baloncesto-Jordan-23-impresi-n-sudaderas-hoodies-de-exterior-sudaderas-hombre-2015.jpg" />
           
          </div>
  
          <div class="col-md-4">
            <h2>Shoes</h2>
            <img class="center-block" src="https://www.dhresource.com/0x0/f2/albu/g9/M01/55/03/rBVaWFx6AVuAAfv1AAKODCd8_TE378.jpg"/>
            
          </div>

           <div class="col-md-4">
            <h2>Jerseys</h2>
            <img class="center-block" src="https://cdn.pixabay.com/photo/2016/08/09/10/16/custom-1580253_960_720.jpg"/>
           
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <p></p>
          </div>
           
        </div>
      </div>
    </section>

  
    <footer id="footer">
      <div class="container">
        <ul class="soc-media-ul">
          <li>
            <a href="" class="fa fa-twitter" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-google-plus" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-linkedin" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-behance" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-envelope"></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>


</body>
</html>
