<!DOCTYPE html>

<html>
<head>
  <link rel='stylesheet' href='/stylesheets/mainpage.css'/>
</head>

<body>

  <div class="wrapper">
{{>navbar}}
  
    <section id="home" class="sec-main">
      <h1 class="main-heading">Welcome to Epic Sporting Goods</h1>
    </section>

    <section id="about" class="sec-about">
      <div class="container">
      
  
     
   <div class="row">
          <div class="col-md-4">
           <h2><a href="/shop/gear">Gear</a></h2>
           <a href="/shop/gear">
             <img class="center-block" src="https://scheels.scene7.com/is/image/Scheels/88779106650?wid=600&hei=600&qlt=75"/>
           </a>
       </div>

          <div class="col-md-4">
          <h2><a href="/shop/clothes">Clothes</a></h2>
          <a href="/shop/clothes">
            <img class="center-block" src="https://ae01.alicdn.com/kf/HTB1WxMHKpXXXXXAXVXXq6xXFXXXj/Harajuku-Sportwear-hombres-3d-baloncesto-Jordan-23-impresi-n-sudaderas-hoodies-de-exterior-sudaderas-hombre-2015.jpg" />
           </a>
           
          </div>
  
          <div class="col-md-4">
            <h2><a href="/shop/shoes">Shoes</a></h2>
            <a href="/shop/shoes">
              <img class="center-block" src="https://www.dhresource.com/0x0/f2/albu/g9/M01/55/03/rBVaWFx6AVuAAfv1AAKODCd8_TE378.jpg"/>
            </a>
          </div>

           <div class="col-md-4">
            <h2><a href="/shop/jerseys">Jerseys</a></h2>
            <a href="/shop/jerseys">
              <img class="center-block" src="https://cdn.pixabay.com/photo/2016/08/09/10/16/custom-1580253_960_720.jpg"/>
            </a>
          </div>
        </div>
        
      
        </div>
      </div>

    </section>

  
{{>footer}}
  </div>


</body>
</html>
