<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>


  <h1> Vaskar needs a penny!  Give him a penny! asdfasdfsdf</h1>


</body>
</html>
